PyYAML>=6.0
black
flake8
google-ads==23.0.0
google-auth>=2.22.0
google-auth-oauthlib>=1.1.0
google-api-python-client>=2.99.0
google-adk>=1.3
google-cloud-bigquery>=3.0.0
vertexai>=1.0.0
google-cloud-aiplatform>=2.19

